<div class="gDateFilter">
  <table>
    <tbody>
      <tr>
        <td><label for="${id}_from">${i18n.DateFilter.FromDate}</label></td>
        <td>
				  <input type="text" id="${id}_from"
				         data-dojo-type="dijit/form/DateTextBox" 
				         data-dojo-attach-point="__fromDate" 
				         data-dojo-attach-event="onChange: _dateChanged"
				         data-dojo-props="constraints:{datePattern:'yyyy-MM-dd'}"/>
        </td>
      </tr>
      <tr>
        <td><label for="${id}_to">${i18n.DateFilter.ToDate}</label></td>
        <td>
          <input type="text" id="${id}_to"
                 data-dojo-type="dijit/form/DateTextBox" 
                 data-dojo-attach-point="__toDate" 
                 data-dojo-attach-event="onChange: _dateChanged"
                 data-dojo-props="constraints:{datePattern:'yyyy-MM-dd'}"/>
        </td>
      </tr>
    </tbody>
  </table>
</div>