<div class="dijitTitlePaneTitle">
	<div class="gExpression">
	  <label for="${id}_text">${i18n.Expression.SearchLabel}</label>
	  <input id="${id}_text" type="text"
	         data-dojo-type="dijit/form/TextBox"
	         data-dojo-attach-point="__textBox" />
	  <span  class="dijitReset dijitInline dijitIcon dijitIconSearch gIconTool"
	         title="${i18n.Expression.SearchTip}"
	         data-dojo-attach-event="onclick: search"></span>
	         
	   <span id="gWorking" class="gWorking"></span>
	</div>
</div>