<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>Geoportal-Solr</title>
	
	<link rel="stylesheet" type="text/css" href="//serverapi.arcgisonline.com/jsapi/arcgis/3.4/js/dojo/dijit/themes/claro/claro.css"  >
	<link rel="stylesheet" type="text/css" href="//serverapi.arcgisonline.com/jsapi/arcgis/3.4/js/esri/css/esri.css" />
	<link rel="stylesheet" href="g/solr/css/g.css"/>
	
	<script type="text/javascript">
	  var dojoConfig = {
	    parseOnLoad: true,
	    packages: [
	      {name:"g",
	       location:location.pathname.replace(/\/[^/]*$/,'')+"/g"}
	    ]
	  };
	</script>
	<script src="//serverapi.arcgisonline.com/jsapi/arcgis/3.4/"></script>
	
	<script type="text/javascript">
	  require(["dojo/parser", 
	           "dijit/layout/BorderContainer",
	           "dijit/layout/ContentPane", 
	           "g/solr/base/SolrClient",
	           "g/solr/Expression",
	           "g/solr/SpatialFilterPane",
	           "g/solr/DateFilterPane",
	           "g/solr/SimpleFacetPane",
	           "g/solr/AppliedFiltersPane",
	           "g/solr/ResultsPane"
	          ], function(){});
	</script>
	  
	<script type="text/javascript">
	  function execLastQ() {
	    if (solrClient && solrClient.lastQueryUrl) {
	      window.open(solrClient.lastQueryUrl);
	    }
	  }
	</script>

</head>
<body class="claro">
	
	<div data-dojo-id="solrClient" data-dojo-type="g/solr/base/SolrClient"
   	  data-dojo-props='
	      collectionUrl:"http://test.esri.com:8983/solr/collection1",
	      filters:[{viewable:true, removable:false, urlParameterName:"fq",
	                urlParameterValue:"id.table_s:table.docindex"}]'></div>
		                  
	<div data-dojo-type="dijit/layout/BorderContainer" 
	    data-dojo-props="gutters:false, liveSplitters:true"
		   class="gPageBorderContainer">
			 
		<div data-dojo-type="dijit/layout/ContentPane" 
		     data-dojo-props="splitter:false, region:'top'" 
		     class="gTopContentPane">
		  <div class="gBanner">
		    <span class="gBannerCaption">Geoportal-Solr</span>
		  </div>
		</div>		
		 
		<div data-dojo-type="dijit/layout/ContentPane" 
	   		 data-dojo-props="splitter:true, region:'leading'" 
			   class="gPanel gLeadingContentPane">
				       
			<div data-dojo-type="g/solr/Expression"></div>
		
		  <div data-dojo-type="g/solr/SpatialFilterPane"
   		     data-dojo-props="
		        field: 'envelope_geo',
		        basemapUrl: 'http://services.arcgisonline.com/ArcGIS/rest/services/ESRI_StreetMap_World_2D/MapServer',
		        map: {autoResize: true, center: [-98, 40], zoom: 1}">
		  </div>	
			
			<div data-dojo-type="g/solr/DateFilterPane" 
		       data-dojo-props="
		        title:'Temporal Extent',
		        field:'apiso.TempExtent_begin_tdt',
		        toField:'apiso.TempExtent_end_tdt'">
		  </div>
		  
		  <div data-dojo-type="g/solr/DateFilterPane" 
		       data-dojo-props="
		        title:'Last Modified',
		        field:'sys.src.item.lastmodified_tdt'">
		  </div>
			
			<div data-dojo-type="g/solr/SimpleFacetPane" 
	   	     data-dojo-props="
		         title:'Metadata Type',
		         facet:{field:'sys.metadatatype.identifier_s', mincount:0, limit:10}">
		  </div>
		  
		  <div data-dojo-type="g/solr/SimpleFacetPane"
		       data-dojo-props="facet:{field:'keywords', mincount:1, limit:10}">
		  </div>
		  
			<div data-dojo-type="g/solr/SimpleFacetPane"
			     data-dojo-props="facet:{field:'keywords_ss', mincount:1, limit:10}">
			</div>
			
		  <div data-dojo-type="g/solr/SimpleFacetPane"
		       data-dojo-props="facet:{field:'contact.organizations_ss', mincount:1, limit:10}">
		  </div>
		  
		  <div data-dojo-type="g/solr/SimpleFacetPane"
		       data-dojo-props="facet:{field:'contact.people_ss', mincount:1, limit:10}">
		  </div>
            
		  <div data-dojo-type="g/solr/SimpleFacetPane"
		       data-dojo-props="facet:{field:'sys.src.collections_txt', mincount:1, limit:100}">
		  </div>
            
		  <div data-dojo-type="g/solr/SimpleFacetPane"
		       data-dojo-props="facet:{field:'sys.src.collections_ss', mincount:1, limit:100}">
		  </div>
            
		  <div data-dojo-type="g/solr/SimpleFacetPane"
		       data-dojo-props="facet:{field:'sys.src.site.name_s', mincount:1, limit:100}">
		  </div>

		  <div class="gPanelBottom"></div>  
		</div>
		
		<div data-dojo-type="dijit/layout/ContentPane" 
		     data-dojo-props="splitter:true, region:'center'",
		     class="gPanel gCenterContentPane">
				       
		  <div data-dojo-type="g/solr/AppliedFiltersPane"></div>
		  
		  <div data-dojo-type="g/solr/ResultsPane"
		       data-dojo-props="open:true, rows:10"></div>
		  
		  <div class="gPanelBottom"></div>          
		</div>
		
	</div>
</body>
</html>