<div style="padding:20px; border:1px solid #ccc">
  <h4 style="margin:0;">Widget</h4>
  <div style="margin-top:10px;">
    <div>Request (json)</div>
    <textarea style="width:500px;height:100px"
      data-dojo-attach-point="requestTextarea"
      ></textarea>
    <button style="vertical-align:top;"
      data-dojo-attach-point="searchButton"
      data-dojo-attach-event="onclick: search"
      >Search</button>
  </div>
  <div style="margin-top:30px;">
    <div>Result</div>
    <textarea style="width:500px;height:100px"
      data-dojo-attach-point="resultTextarea"
      ></textarea>
  </div>
</div>
