<?xml version="1.0" encoding="UTF-8"?>
<!--
 See the NOTICE file distributed with
 this work for additional information regarding copyright ownership.
 Esri Inc. licenses this file to You under the Apache License, Version 2.0
 (the "License"); you may not use this file except in compliance with
 the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Geoportal Server</display-name>
    <!-- LocaleFilter to set language for site     
	  <filter>
        <filter-name>LocaleFilter</filter-name>
        <filter-class>com.esri.gpt.control.filter.LocaleFilter</filter-class>
    	  <init-param>
            <param-name>locale-method</param-name>
            <param-value>cookie:arcgisLocale</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    ............................................ -->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.esri.gpt.control.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>*.page</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>MultipartFilter</filter-name>
        <filter-class>com.esri.gpt.control.filter.MultipartFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MultipartFilter</filter-name>
        <url-pattern>/catalog/publication/uploadMetadata.page</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MultipartFilter</filter-name>
        <url-pattern>/catalog/publication/validateMetadata.page</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MultipartFilter</filter-name>
        <url-pattern>/gxe/interrogate/multipart</url-pattern>
    </filter-mapping>
    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>/WEB-INF/faces-config.xml, /WEB-INF/gpt-faces-config.xml</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>chainConfig</param-name>
            <param-value>org/apache/struts/tiles/chain-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>InitializationServlet</servlet-name>
        <servlet-class>com.esri.gpt.framework.context.InitializationServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ThumbnailServlet</servlet-name>
        <servlet-class>com.esri.gpt.control.view.ThumbnailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConnector</servlet-name>
        <servlet-class>com.esri.gpt.control.arcims.ServletConnector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestQueryServlet</servlet-name>
        <servlet-class>com.esri.gpt.control.georss.RestQueryServlet</servlet-class>
        <init-param>
            <param-name>bundleBaseName</param-name>
            <param-value>gpt.resources.gpt</param-value>
        </init-param>
        <load-on-startup>6</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>RestrictedRestQueryServlet</servlet-name>
        <servlet-class>com.esri.gpt.control.georss.RestQueryServlet</servlet-class>
        <init-param>
            <param-name>bundleBaseName</param-name>
            <param-value>gpt.resources.gpt</param-value>
        </init-param>
        <load-on-startup>7</load-on-startup>
    </servlet>
    <servlet>
        <description>REST servlet.</description>
        <display-name>REST servlet</display-name>
        <servlet-name>RestServlet</servlet-name>
        <servlet-class>com.esri.gpt.control.rest.RestServlet</servlet-class>
        <init-param>
            <param-name>bundleBaseName</param-name>
            <param-value>gpt.resources.gpt</param-value>
        </init-param>
        <load-on-startup>8</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ManageDocumentServlet</servlet-name>
        <servlet-class>com.esri.gpt.control.rest.ManageDocumentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexStatsServlet</servlet-name>
        <servlet-class>com.esri.gpt.control.rest.IndexStatsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestRepositoriesServlet</servlet-name>
        <servlet-class>com.esri.gpt.control.rest.repositories.RepositoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpenSearchDescription</servlet-name>
        <servlet-class>com.esri.gpt.control.rest.OpenSearchDescriptionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.page</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SimpleSOSBridge</servlet-name>
        <servlet-class>com.esri.gpt.control.livedata.sos.SimpleSOSBridge</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThumbnailServlet</servlet-name>
        <url-pattern>/thumbnail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConnector</servlet-name>
        <url-pattern>/com.esri.esrimap.Esrimap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConnector</servlet-name>
        <url-pattern>/servlet/com.esri.esrimap.Esrimap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestQueryServlet</servlet-name>
        <url-pattern>/rest/find/document/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestQueryServlet</servlet-name>
        <url-pattern>/sitemap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestrictedRestQueryServlet</servlet-name>
        <url-pattern>/restricted/rest/find/document/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestServlet</servlet-name>
        <url-pattern>/rest/document/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestServlet</servlet-name>
        <url-pattern>/sitemap/document/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageDocumentServlet</servlet-name>
        <url-pattern>/rest/manage/document/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexStatsServlet</servlet-name>
        <url-pattern>/rest/index/stats/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestRepositoriesServlet</servlet-name>
        <url-pattern>/rest/repositories/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpenSearchDescription</servlet-name>
        <url-pattern>/openSearchDescription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpleSOSBridge</servlet-name>
        <url-pattern>/SimpleSOSBridge</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DistributedSearchServlet</servlet-name>
        <servlet-class>com.esri.gpt.control.rest.search.DistributedSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DistributedSearchServlet</servlet-name>
        <url-pattern>/rest/distributed</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CswServlet</servlet-name>
        <servlet-class>com.esri.gpt.server.csw.provider.CswServlet</servlet-class>
        <init-param>
            <param-name>cswSubContextPath</param-name>
            <param-value>/csw</param-value>
        </init-param>
        <init-param>
            <param-name>resourceFilePrefix</param-name>
            <param-value>gpt/metadata/csw</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>CswServlet</servlet-name>
        <url-pattern>/csw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CswServlet</servlet-name>
        <url-pattern>/csw/discovery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CswServlet</servlet-name>
        <url-pattern>/csw/discovery/soap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CswServlet</servlet-name>
        <url-pattern>/csw202/discovery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CswServlet</servlet-name>
        <url-pattern>/csw202/discovery/soap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CswServlet</servlet-name>
        <url-pattern>/csw/publication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CswServlet</servlet-name>
        <url-pattern>/csw/publication/soap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CswServlet</servlet-name>
        <url-pattern>/csw202/publication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CswServlet</servlet-name>
        <url-pattern>/csw202/publication/soap</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AsnServlet</servlet-name>
        <servlet-class>com.esri.gpt.server.assertion.AsnServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AsnServlet</servlet-name>
        <url-pattern>/assertion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsnServlet</servlet-name>
        <url-pattern>/assertion/operations</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>Used to generate the browse table of contents</description>
        <display-name>TocServlet</display-name>
        <servlet-name>TocServlet</servlet-name>
        <servlet-class>com.esri.gpt.control.search.browse.TocServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TocServlet</servlet-name>
        <url-pattern>/browse/toc</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OpenidConsumerServlet</servlet-name>
        <servlet-class>com.esri.gpt.framework.security.identity.open.OpenidConsumerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OpenidConsumerServlet</servlet-name>
        <url-pattern>/openid</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GxeServlet</servlet-name>
        <servlet-class>com.esri.gpt.catalog.gxe.GxeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GxeServlet</servlet-name>
        <url-pattern>/gxe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GxeServlet</servlet-name>
        <url-pattern>/gxe/definition/type</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GxeServlet</servlet-name>
        <url-pattern>/gxe/definition/types</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GxeServlet</servlet-name>
        <url-pattern>/gxe/echo/attachment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GxeServlet</servlet-name>
        <url-pattern>/gxe/i18n</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GxeServlet</servlet-name>
        <url-pattern>/gxe/interrogate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GxeServlet</servlet-name>
        <url-pattern>/gxe/interrogate/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GxeServlet</servlet-name>
        <url-pattern>/gxe/interrogate/multipart</url-pattern>
    </servlet-mapping>
    <!-- The following GxeServlet endpoints are for backward compatibility. -->
    <servlet-mapping>
        <servlet-name>GxeServlet</servlet-name>
        <url-pattern>/gxe/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GxeServlet</servlet-name>
        <url-pattern>/gxe/definition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GxeServlet</servlet-name>
        <url-pattern>/gxe/types</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SingleIndexingServlet</servlet-name>
        <servlet-class>com.esri.gpt.catalog.lucene.SingleIndexingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SingleIndexingServlet</servlet-name>
        <url-pattern>/indexer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageUserServlet</servlet-name>
        <servlet-class>com.esri.gpt.server.identity.ManageUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageUserServlet</servlet-name>
        <url-pattern>/rest/identity/groups/*</url-pattern>
        <url-pattern>/rest/identity/users/*</url-pattern>
    </servlet-mapping>
  <servlet>
    <servlet-name>GeoportalUsageServlet</servlet-name>
    <servlet-class>com.esri.gpt.server.usage.GeoportalUsageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeoportalUsageServlet</servlet-name>
    <url-pattern>/rest/usage/harvester/*</url-pattern>
  </servlet-mapping>
    <servlet>
        <description/>
        <display-name>savedSearch</display-name>
        <servlet-name>savedSearch</servlet-name>
        <servlet-class>com.esri.gpt.control.search.ServletSavedSearch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>savedSearch</servlet-name>
        <url-pattern>/savedSearch</url-pattern>
    </servlet-mapping>
    <!-- 'Eros' servlet - a status checker feed -->
    <servlet>
        <servlet-name>ErosQueryServlet</servlet-name>
        <servlet-class>com.esri.gpt.server.erosfeed.ErosQueryServlet</servlet-class>
        <init-param>
            <param-name>bundleBaseName</param-name>
            <param-value>gpt.resources.gpt</param-value>
        </init-param>
        <init-param>
            <param-name>defaultQuery</param-name>
            <param-value>f=atom&amp;contentType=liveData&amp;searchText=resource.url:http*</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErosQueryServlet</servlet-name>
        <url-pattern>/Eros</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>CartServlet</servlet-name>
      <servlet-class>com.esri.gpt.control.cart.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>CartServlet</servlet-name>
      <url-pattern>/cart/*</url-pattern>
    </servlet-mapping>

    <session-config>
      <session-timeout>30</session-timeout>
    </session-config>
    <resource-ref>
      <description>GPT Connection Pool</description>
      <res-ref-name>jdbc/gpt</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
    </resource-ref>
    <welcome-file-list>
      <welcome-file>catalog/main/home.page</welcome-file>
    </welcome-file-list>
    <!--
      Note. 'Eros' and geoportal usage endpoint should be protected through HTTPS.
    -->
    <!--security-constraint>   
      <web-resource-collection>
        <web-resource-name>Restricted content</web-resource-name>
        <description>Restricted content</description>
        <url-pattern>/Eros</url-pattern>
        <url-pattern>/rest/usage/*</url-pattern>
        <http-method>GET</http-method>
        <http-method>POST</http-method>
        <http-method>PUT</http-method>
        <http-method>DELETE</http-method>
      </web-resource-collection>   
      <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint>
    </security-constraint-->
</web-app>
