html, body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
body {
  background-color: #FFF;
  color: #000;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: small;
}

.gBanner {
  background-image:url(images/banner.png);
  height: 45px; 
  xheight: 65px;
  color: #FFFFFF
}

.gBannerCaption {
	position: relative;
	top: 10px;
	left: 10px;
	font-weight: bold;
	font-size: 1em;
}

.gPageBorderContainer {
  width: 100%;
  height: 100%;
}

.gPageBorderContainer .gTopContentPane {
  xmargin: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
}

.gPageBorderContainer .gLeadingContentPane, .gPageBorderContainer .gCenterContentPane {
  padding-top: 2px;
}

.gPageBorderContainer .gLeadingContentPane {
  width: 360px;
}

.gPageBorderContainer .dijitBorderContainer-child {
	border: none;
}

.gPanel .dijitTitlePaneTitleFocus {
  xmargin-top: 3px;
  xpadding-bottom: 2px;
}

.gPanel .dijitTitlePaneTitle {
  border-top: 1px solid #cccccc;
  border-bottom: none;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}

.gPanel .dijitTitlePaneContentOuter {
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}

.gPanelBottom {
  border-bottom: 1px solid #cccccc !important;
}


.gDropPaneTools {
	float:right;
}
.gDropPaneToolsIcon {
	border: 1px solid transparent;
}
.gDropPaneToolsIcon:hover {
	border: 1px solid #0431B4;
}


.gTitleToolBar {float:right;}
.gTitleToolBarIcon {}
.gTitleToolBarIcon:hover {border: 1px solid #cccccc !important;}

.gIconTool {cursor: pointer;}

.gLinks a, .gLinks a:link, .gLinks a:hover, .gLinks a:active, .gLinks a:visited {
  color: #0431B4;
  text-decoration: none;
}
.gLinks a:hover {
  text-decoration: underline;
}
.gLinks .gStatic a, .gLinks .gStatic a:hover {
  color: #333333;
  text-decoration: none;
  cursor: text;
}

.gFacetLink {
  font-size: small;
  padding-bottom: 6px;
}

.gExpression {
  padding: 6px 2px 2px 2px;
  cursor: default;
}
.gExpression .dijitTextBox {
  xwidth: 18em;
  width: 12em;
}
.gExpression .gIconTool {
  margin: 0px 4px 0px 4px;
}

.gAppliedFilter {
  display: block;
  font-size: small;
  padding-bottom: 6px;
}

.gFacetContent  {
}

.gAppliedFilters  {
}

.gSpatialFilterPane .dijitTitlePaneContentInner {
  padding: 2px;
}

.gSpatialFilter {
	height: 300px;
  padding: 0px;
  margin: 0px;
}

.gSpatialFilter .map {
  height: 300px !important;
  width: auto !important;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

#xmap {
  border-left:solid 1px #999;
  border-right:solid 1px #999;
  height:100%;
  padding: 0px;
}
#xmap_zoom_slider {
  xleft: 4px !important; 
  xtop: 8px !important;
}
#xmap_graphics_layer{
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: pulse;
  -moz-animation-iteration-count: infinite;
  -moz-animation-name: pulse;
}




.gResultSummary .gResultPager {
  float: right;
}

.gResultSummary .dijitButton {
  font-size: x-small;
}

.gResultItems {
  clear: both;
}

.gHide {display: none !important;}


@-webkit-keyframes pulse{
  0% { opacity:1.0;}
  45% { opacity: .20;}
  100%{ opacity: :1.0;}
}
@-moz-keyframes pulse{
  0%{ opacity: 1.0;}
  45%{ opacity: .20;}
  100%{ opacity: 1.0;}
}
@keyframes pulse{
  0%{ opacity: 1.0;}
  45%{ opacity: .20;}
  100%{ opacity: 1.0;}
}

  