<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>gc</display-name>
  <listener>
    <listener-class>gc.solr.task.Gptdb2SolrWebListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>g.html</welcome-file>
  </welcome-file-list>
  <filter>
	    <filter-name>SolrHttpRequestFilter</filter-name>
	    <filter-class>gc.solr.proxy.SolrHttpRequestFilter</filter-class>
  	</filter>
  	<filter-mapping>
	    <filter-name>SolrHttpRequestFilter</filter-name>
	    <url-pattern>/solr/*</url-pattern>
  	</filter-mapping>
  	<servlet>
	    <servlet-name>ProxyServlet</servlet-name>
	    <servlet-class>org.mitre.dsmiley.httpproxy.ProxyServlet</servlet-class>
	    <init-param>
	      <param-name>targetUri</param-name>
	      <param-value>http://example_solr_server/solr</param-value>
	    </init-param>
  	</servlet>
  	<servlet-mapping>
	    <servlet-name>ProxyServlet</servlet-name>
	    <url-pattern>/solr/*</url-pattern>
  	</servlet-mapping>
</web-app>
